
.fashionNew-head{
    margin: 80px 0px 90px 0px ;
    
}
.fashion-name , .fashion {
    margin-bottom: 45px;
    text-align: center;
   
}
.fashion-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    margin-bottom: 30px;
}
.project-info span{
    
    color:gray;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
 margin-top: 40px;
    display: block;
    
}
.project-info h4{
    color: #333;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 15px;
}
@media screen and (max-width: 1040px) {
    .fashion-name {

        margin: 40px 0px 0px 0px;
    }
   
}

.fashion-name span{
    color: #e53637;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 15px;
    display: block;

}
.fashion-name h2
{
    color: #111111;
    font-weight: 700;
    line-height: 46px;
}
.project-info h4 ,a,.calendar{
  padding: 0px 0px 0px 20px;
  
  

}
.project-info{
    background-color:hsl(0, 0%, 100%);
    width: 300px;
    position: relative;
    margin: 150px 30px 0px;
    flex-wrap: wrap;
}
@media screen and (max-width: 400px)  {
     .project-info{
        margin-bottom: 20px;

    }
}
.new-trend-img{
position: absolute;
margin-bottom: 100px;
background-color: #fff;
}
.fashion-item a {
    display: inline-block;
    color: #111111;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    
    position: relative;  
    overflow: hidden;  
}

.fashion-item a::after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 90%;
    height: 2px;
    background: #111111; /* Default line color */
    content: "";
    transition: all 0.3s ease-in-out;
    transform: scaleX(0); 
    transform-origin: left;
}

.fashion-item a:hover::after {
    transform: scaleX(1);
    background: #B33030 /* Change to your desired color */
}
.fashionNew-head .project-container{
    padding:0px 50px 0px 0px;
}