.auto-scroll-main {
  width: 95%;
  margin: 20px auto;
}

.auto-title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
}

.auto-scroll-box {
 display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  gap: 18px;
  padding: 10px 0;
  scroll-behavior: smooth;
  cursor: grab;
}
.auto-scroll-box::-webkit-scrollbar {
  display: none;
}

.auto-scroll-box {
  scrollbar-width: none; /* Firefox */
}
.auto-scroll-box:active {
  cursor: grabbing;
}

.auto-card {
  min-width: 220px;
  background: #fff;
  border: 1px solid #ddd;
  cursor: pointer;
  border-radius: 12px;
  padding: 12px;
  text-align: center;
  flex-shrink: 0;
  transition: 0.3s ease;
}

.auto-card img {
  width: 100%;
  height: 150px;
  border-radius: 10px;
  object-fit: cover;
}

.auto-card:hover {
  transform: scale(1.05);
}
/* =========================
   AUTO SCROLL SKELETON
========================= */

.auto-skeleton-img,
.auto-skeleton-title,
.auto-skeleton-text {
  background: linear-gradient(
    90deg,
    #e5e5e5 25%,
    #f0f0f0 37%,
    #e5e5e5 63%
  );
  background-size: 400% 100%;
  animation: auto-skeleton 1.4s ease infinite;
  border-radius: 8px;
}

.auto-skeleton-img {
  width: 100%;
  height: 150px;
  margin-bottom: 10px;
}

.auto-skeleton-title {
  height: 16px;
  width: 80%;
  margin: 6px auto;
}

.auto-skeleton-text {
  height: 14px;
  width: 60%;
  margin: 6px auto;
}

.auto-skeleton-text.small {
  width: 40%;
}

@keyframes auto-skeleton {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}
